.img{
    background-color: gray;
    height: 300px;
    width:300px
    
}


.c-container{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    justify-content: space-around;
    margin-left: 70px;
    margin-top: 100px;
    margin-right: 0;
}
.des-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.btn{
    border-radius: 20px;
    height: 50px;
    background-color: lightgreen;
}
.btn:hover{
    background-color: aqua;
}