.course-container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    padding-left: 300px;
}
@media screen and (max-width: 688px) {
    body {
      background-color: lightgreen;
      
    }
    .course-container{
        display: grid;
      grid-template-columns: repeat(1,1fr);
      padding-left: 10px;
    }
  }